html {
    background-color: orange;
}

b {
    color: darkorange;
    font-family: sans-serif;
    font-size: 50px;
}

a {
    color: darkorange;
    font-family: sans-serif;
    font-size: 20px;
}

label {
    color: darkorange;
    font-family: sans-serif;
    font-size: 15px;
}